# Introduction to Python programming

## General Info

* Interpreted language 
* Untyped language
* Indentation
* Cross platform

## Installation 

* Download and install [Anaconda](https://www.anaconda.com/products/individual) 
![](images/anaconda-meta.jpg)

* Chiped with some awesome apps (Jupyter, Spyder) and important packages 

![](images/open-source-logos2x_680db6b6f11f9cc710dd7defae241cd3.png)

* Opetionally install [vscode](https://code.visualstudio.com/)

## Hello world

In [1]:
print("Hello, World!")

Hello, World!

##  Variables and data types

In [2]:
# Integers
myint = 7
print(myint)

7

In [3]:
# Floats
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

In [4]:
# Strings
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

In [5]:
# Operations (Numerical)
one = 1
two = 2
three = one + two
print(three)

3

In [6]:
# Operations (Strings)
hello = "hello"
world = "world"
helloworld = hello + world
print(helloworld)

helloworld

In [7]:
# What do you think ? 
one = 1
two = 2
hello = "hello"
print(str(one) + str(two) + hello)

12hello

In [8]:
# Variable assignment
a, b = 3, 4
print(a,b)

3 4

## Lists

In [9]:
mylist = []

In [10]:
mylist.append(1)
mylist

[1]

In [11]:
mylist.append(2)
mylist.append(3)
mylist

[1, 2, 3]

In [12]:
# What do you think? 
print(mylist[1])

2

In [13]:
mylist[1] = 5
print(mylist)

[1, 5, 3]

In [14]:
# What do you think will happen? 
mylist = [1,2,3]
# print(mylist[3])

In [15]:
another_list = [1, "jlkadsjlkc", 12.6]
another_list

[1, 'jlkadsjlkc', 12.6]

In [16]:
mylist = ["Welcome", "to", "Biostatistics", "class", "fall", "2020"]

In [17]:
mylist[2:4]

['Biostatistics', 'class']

In [18]:
mylist[0:6:2]

['Welcome', 'Biostatistics', 'fall']

In [19]:
mylist[::2]

['Welcome', 'Biostatistics', 'fall']

In [20]:
mylist[-1]

'2020'

In [21]:
mylist[::-1]

['2020', 'fall', 'class', 'Biostatistics', 'to', 'Welcome']

In [22]:
print(mylist.pop())
print(mylist)

2020
['Welcome', 'to', 'Biostatistics', 'class', 'fall']

### Tuples

In [23]:
mytuple = (1, 2, 3)
print(mytuple[1])
print(mytuple)

2
(1, 2, 3)

In [24]:
a, b, c = mytuple
print(a)
print(b)
print(c)

1
2
3

In [25]:
# Cann't override
# mytuple[1] = 5

### Dictionary

In [26]:
mydict = {"sbme":"Systems and Biomedical Engineering",
          "class": 3,
          1:"Python Tutorials"}

In [27]:
mydict['sbme']

'Systems and Biomedical Engineering'

In [28]:
mydict['class']

3

In [29]:
mydict[1]

'Python Tutorials'

In [30]:
mydict['New'] = "Another Item"
mydict

{'sbme': 'Systems and Biomedical Engineering',
 'class': 3,
 1: 'Python Tutorials',
 'New': 'Another Item'}

In [31]:
mydict.update({"New":123, 1:"k;sad;sakc"})
mydict

{'sbme': 'Systems and Biomedical Engineering',
 'class': 3,
 1: 'k;sad;sakc',
 'New': 123}

In [32]:
del mydict['New']
mydict

{'sbme': 'Systems and Biomedical Engineering', 'class': 3, 1: 'k;sad;sakc'}

### Sets

In [33]:
myset = {1, 2, 3}
myset

{1, 2, 3}

In [34]:
myset.add(4)
myset

{1, 2, 3, 4}

In [35]:
myset.add(3)

In [36]:
myset

{1, 2, 3, 4}

In [37]:
print(myset.pop())
myset

1

{2, 3, 4}

In [38]:
print(set.pop.__doc__)

Remove and return an arbitrary set element.
Raises KeyError if the set is empty.

In [39]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

## Basic Operators

### Numerical

In [40]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [41]:
remainder = 5 % 3
print(remainder)

2

In [42]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

49
8

### Strings

In [43]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [44]:
lotsofhellos = "hello \n" * 10
print(lotsofhellos)

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

### Lists

In [45]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [46]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## String Formatting

In [47]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [48]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [49]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [50]:
data = ("John", "Doe", 53.44) # tuple
# Hello John Doe. Your current balance is $53.44.
string_to_print = "Hello %s %s. Your current balance is $%s"
print(string_to_print%data)

Hello John Doe. Your current balance is $53.44

## Conditions

### Boolean Variable

In [51]:
x = True
y = False
print(x)
print(y)

True
False

In [52]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

### If condition

In [53]:
x = 5
if x == 2:
    print("Inside IF")
print("Outside IF")

Outside IF

### Boolean operators

In [54]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

### In Operator

In [55]:
name = "John"
names_list = ["John", "Rick"]
if name in names_list:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

### Is Operator

In [56]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False
x = y 
print(x is y)

True
False
True

### Not operator

In [57]:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

### If, else

In [58]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

### If, elif, ..

In [59]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [60]:
# Exercise 

# change this code to make all conditions True
number = 16
second_number = 0
first_array = [1,5,6]
second_array = [1,2]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

In [61]:
# Exercise 

# change this code to make all conditions True
number = 16
second_number = 0
first_array = [1 ,2,  3]
second_array = [1,2]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

## Loops

### For Loop

In [62]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [63]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

# Prints out 3,4,5
for x in range(3, 6):
    print(x)

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

0
1
2
3
4
3
4
5
3
5
7

### While Loop

In [64]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

### break and continue

In [65]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [66]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

## Functions

In [67]:
def my_function():
    print("Hello From My Function!")

In [68]:
my_function()

Hello From My Function!

In [69]:
def sum_two_numbers(a, b):
    return a + b

In [70]:
sum_two_numbers(5, 10)

15

In [71]:
result = sum_two_numbers(5, 10)
result

15

In [72]:
# Exercise
def mean(data):
    pass

In [73]:
data = [10, 20, 30, 40, 50]
mean(data)

## Classes and Objects

In [74]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

In [75]:
# Instantiation
c = MyClass()

In [76]:
# accessing variables
c.variable

'blah'

In [77]:
# accessing and calling functions
c.function()

This is a message inside the class.

## Modules and packages

In [78]:
import numpy

In [79]:
data

[10, 20, 30, 40, 50]

In [80]:
numpy.mean(data)

30.0

In [81]:
import numpy as np

In [82]:
np.mean(data)

30.0

In [83]:
np.std(data)

14.142135623730951

### Numpy array

In [84]:
myarray = np.array([1, 9, 4, 5])
myarray

array([1, 9, 4, 5])

In [85]:
myarray.sum()

19

In [86]:
myarray.mean()

4.75

In [87]:
myarray.sort()
myarray

array([1, 4, 5, 9])

In [88]:
import pandas as pd

In [89]:
country    =  ["Brazil", "Russia", "India", "China", "South Africa"]
capital    =  ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"]
area       =  [ 8.516, 17.10, 3.286, 9.597, 1.221]
population =  [200.4, 143.5, 1252, 1357, 52.98] 

brics = pd.DataFrame(data={"country":country, "capital":capital, "area":area, "population":population})
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [90]:
# Save data
pd.DataFrame.to_csv(brics,"brics.csv", index=0)

In [91]:
loaded_data = pd.read_csv("brics.csv")

In [92]:
loaded_data

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

## References and useful links

* https://www.learnpython.org/

* https://numpy.org/doc/stable/user/quickstart.html

* https://pandas.pydata.org/docs/getting_started/index.html