## Classes and Objects

In [2]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

In [3]:
# Instantiation
c = MyClass()

In [4]:
# accessing variables
c.variable

'blah'

In [5]:
# accessing and calling functions
c.function()

This is a message inside the class.

## Modules and packages

In [8]:
import numpy 
data = [10, 20, 30, 40, 50]
numpy.mean(data)

30.0

In [10]:
import numpy as np
np.mean(data)

30.0

In [11]:
np.std(data)

14.142135623730951

### Numpy array

In [12]:
myarray = np.array([1, 9, 4, 5])
myarray

array([1, 9, 4, 5])

In [13]:
myarray.sum()

19

In [14]:
myarray.mean()

4.75

In [15]:
myarray.sort()
myarray

array([1, 4, 5, 9])

## Pandas

In [16]:
import pandas as pd

In [17]:
country    =  ["Brazil", "Russia", "India", "China", "South Africa"]
capital    =  ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"]
area       =  [ 8.516, 17.10, 3.286, 9.597, 1.221]
population =  [200.4, 143.5, 1252, 1357, 52.98] 

brics = pd.DataFrame(data={"country":country, "capital":capital, "area":area, "population":population})
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [18]:
# Save data
pd.DataFrame.to_csv(brics,"brics.csv", index=0)

In [19]:
loaded_data = pd.read_csv("brics.csv")

In [20]:
loaded_data

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [ ]:
* https://pandas.pydata.org/docs/getting_started/index.html