# Introduction to Python programming

## General Info

* Interpreted language 
* Untyped language
* Indentation
* Cross platform

## Installation 

* Download and install [Anaconda](https://www.anaconda.com/products/individual) 
![](images/anaconda-meta.jpg)

* Chiped with some awesome apps (Jupyter, Spyder) and important packages 

![](images/open-source-logos2x_680db6b6f11f9cc710dd7defae241cd3.png)

* Opetionally install [vscode](https://code.visualstudio.com/)

## Hello world

In [1]:
print("Hello, World!")

Hello, World!

##  Variables and data types

In [2]:
# Integers
myint = 7
print(myint)

7

In [3]:
# Floats
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

In [4]:
# Strings
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

In [5]:
# Operations (Numerical)
one = 1
two = 2
three = one + two
print(three)

3

In [6]:
# Operations (Strings)
hello = "hello"
world = "world"
helloworld = hello + world
print(helloworld)

helloworld

In [7]:
# What do you think ? 
one = 1
two = 2
hello = "hello"
print(str(one) + str(two) + hello)

12hello

In [8]:
# Variable assignment
a, b = 3, 4
print(a,b)

3 4

## Lists

In [9]:
mylist = []

In [10]:
mylist.append(1)
mylist

[1]

In [11]:
mylist.append(2)
mylist.append(3)
mylist

[1, 2, 3]

In [12]:
# What do you think? 
print(mylist[1])

2

In [13]:
mylist[1] = 5
print(mylist)

[1, 5, 3]

In [14]:
# What do you think will happen? 
mylist = [1,2,3]
# print(mylist[3])

In [15]:
another_list = [1, "jlkadsjlkc", 12.6]
another_list

[1, 'jlkadsjlkc', 12.6]

In [16]:
mylist = ["Welcome", "to", "Biostatistics", "class", "spring", "2021"]

In [17]:
mylist[2:4]

['Biostatistics', 'class']

In [18]:
mylist[0:6:2]

['Welcome', 'Biostatistics', 'spring']

In [19]:
mylist[::2]

['Welcome', 'Biostatistics', 'spring']

In [20]:
mylist[-1]

'2021'

In [21]:
mylist[::-1]

['2021', 'spring', 'class', 'Biostatistics', 'to', 'Welcome']

In [22]:
print(mylist.pop())
print(mylist)

2021
['Welcome', 'to', 'Biostatistics', 'class', 'spring']

### Tuples

In [23]:
mytuple = (1, 2, 3)
print(mytuple[1])
print(mytuple)

2
(1, 2, 3)

In [24]:
a, b, c = mytuple
print(a)
print(b)
print(c)

1
2
3

In [25]:
# Cann't override
# mytuple[1] = 5

### Dictionary

In [25]:
mydict = {"sbme":"Systems and Biomedical Engineering",
          "class": 2,
          1:"Python Tutorials"}

In [26]:
mydict['sbme']

'Systems and Biomedical Engineering'

In [27]:
mydict['class']

2

In [28]:
mydict[1]

'Python Tutorials'

In [29]:
mydict['New'] = "Another Item"
mydict

{'sbme': 'Systems and Biomedical Engineering',
 'class': 2,
 1: 'Python Tutorials',
 'New': 'Another Item'}

In [30]:
mydict.update({"New":123, 1:"k;sad;sakc"})
mydict

{'sbme': 'Systems and Biomedical Engineering',
 'class': 2,
 1: 'k;sad;sakc',
 'New': 123}

In [31]:
del mydict['New']
mydict

{'sbme': 'Systems and Biomedical Engineering', 'class': 2, 1: 'k;sad;sakc'}

### Sets

In [32]:
myset = {1, 2, 3}
myset

{1, 2, 3}

In [33]:
myset.add(4)
myset

{1, 2, 3, 4}

In [34]:
myset.add(3)

In [35]:
myset

{1, 2, 3, 4}

## Basic Operators

### Numerical

In [36]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [37]:
remainder = 5 % 3
print(remainder)

2

In [38]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

49
8

### Strings

In [39]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [40]:
lotsofhellos = "hello \n" * 10
print(lotsofhellos)

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

### Lists

In [41]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [42]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## String Formatting

In [43]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [44]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [45]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [46]:
data = ("John", "Doe", 53.44) # tuple
# Hello John Doe. Your current balance is $53.44.
string_to_print = "Hello %s %s. Your current balance is $%s"
print(string_to_print%data)

Hello John Doe. Your current balance is $53.44

## Conditions

### Boolean Variable

In [47]:
x = True
y = False
print(x)
print(y)

True
False

In [48]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

### If condition

In [49]:
x = 5
if x == 2:
    print("Inside IF")
print("Outside IF")

Outside IF

### Boolean operators

In [50]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

### In Operator

In [51]:
name = "John"
names_list = ["John", "Rick"]
if name in names_list:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

### Is Operator

In [52]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False
x = y 
print(x is y)

True
False
True

### Not operator

In [53]:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

### If, else

In [54]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

### If, elif, ..

In [55]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

## Loops

### For Loop

In [56]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [57]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

# Prints out 3,4,5
for x in range(3, 6):
    print(x)

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

0
1
2
3
4
3
4
5
3
5
7

### While Loop

In [58]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

### break and continue

In [59]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [60]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

## Functions

In [61]:
def my_function():
    print("Hello From My Function!")

In [62]:
my_function()

Hello From My Function!

In [63]:
def sum_two_numbers(a, b):
    return a + b

In [64]:
sum_two_numbers(5, 10)

15

In [65]:
result = sum_two_numbers(5, 10)
result

15

## References and useful links

* https://www.learnpython.org/